$size: 80px;
$align-value: 0;
$padding-large: 2em;
$padding-small: 5px;

nav {
  background-color: rgb(0, 160, 135);
  color: rgb(232, 253, 255);
  display: flex;
  height: $size;
  left: $align-value;
  padding-right: $padding-large;
  padding-left: $padding-large;
  position: fixed;
  right: $align-value;
  top: $align-value;
  z-index: 10;

  img {
    height: $size;
    padding-right: $padding-small;
    width: $size;
  }

  .header {
    flex: 1;
    font-size: $padding-large;
    line-height: $size;
    padding-left: $padding-small;
  }

  button {
    color: rgb(59, 187, 166);
    background-color: rgb(202, 240, 243);
    border: 2px solid rgb(126, 126, 126);
    border-radius: 7%;
    font-size: 18px;
    height: 55px;
    margin: 12px;
    width: 110px;
  }

  button:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgb(56, 55, 55);
    color: rgb(0, 0, 0);
  }
}
